* {
    padding: 0;
    margin: 0;
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto
}


input {
    margin:10px 0;
    padding:10px;
}

#input {
    margin-top: 35px;
    border:1px solid #111;
    transition: .3s background-color;
}

#input:hover {
    background-color: #fafafa;
}


#start {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(45, 14, 183), rgb(10, 68, 144), rgb(11, 102, 193), rgb(83, 7, 246), purple, blue, rgb(26, 5, 216));
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
#start:hover {
    animation: animate 8s linear infinite;
}
@keyframes animate {
    0% {
    background-position: 0%;
}
100% {
    background-position: 400%;
}
}
#start:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(45deg, #220ceb, #0934c2, #0345b1);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5%;
}
#start:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}
