* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 10px;
}

#information {
    margin-right: 10px;
}

#monkey_press {
    padding: 20px;
    height: 256px;
    width: 256px;
}


#main {
    display: flex;
    justify-content: center;
}

#figure_preview {
    border: 1px solid #525252;
    border-radius: 5px;

    background-color: #141313;
}

#playground {
    border: 1px solid #525252;
    border-radius: 5px;

    background-color: #141313;
}